[submodule "s2e"]
	path = src/s2e
	url = ../s2e.git
[submodule "inotify-cpp"]
	path = third_party/inotify-cpp/inotify-cpp
	url = https://github.com/erikzenker/inotify-cpp.git
[submodule "sylvan"]
	path = third_party/sylvan/sylvan
	url = https://github.com/trolando/sylvan.git
[submodule "s2e-env"]
	path = src/s2e-env
	url = https://github.com/S2E/s2e-env.git
[submodule "vcpkg"]
	path = depends/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "bpftool"]
	path = third_party/bpftool/bpftool
	url = https://github.com/libbpf/bpftool.git
[submodule "libbpf"]
	path = third_party/libbpf/libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "libxdp"]
	path = third_party/xdp-tools/xdp-tools
	url = https://github.com/xdp-project/xdp-tools
